beautifulsoup4==4.11.1
bottle==0.12.21
Django==4.0.4
jieba==0.42.1
keras==2.3.1
networkx==2.8.4
nltk==3.7
numpy==1.19.3
pandas==1.4.2
PyMySQL==1.0.2
requests==2.27.1
rouge==1.0.1
sentencepiece==0.1.96
six==1.15.0
tensorflow==2.5.1
tensorflow-gpu==2.5.1
tqdm==4.64.0
protobuf==3.20.1
wordcloud==1.8.1
scipy==1.8.1
lxml==4.7.1
tqdm==4.64.0
bert4keras==0.11.3
textrank4zh==0.3