BODY {
	FONT-SIZE: 12px; MARGIN: 10px 0px 0px; BACKGROUND-COLOR: #fffff4
}
.button {
	BORDER-RIGHT: #445588 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #445588 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(../image/button.jpg); PADDING-BOTTOM: 0px; BORDER-LEFT: #445588 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #445588 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #87baef; TEXT-DECORATION: none
}
.delbutton {
	BORDER-RIGHT: #445588 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #445588 1px solid; PADDING-LEFT: 5px; BACKGROUND-IMAGE: url(../image/button.jpg); PADDING-BOTTOM: 0px; BORDER-LEFT: #445588 1px solid; COLOR: #ff0000; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #445588 1px solid; BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #87baef; TEXT-DECORATION: none
}
TABLE {
	FONT-SIZE: 12px; TEXT-DECORATION: none
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff3800; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 20px; FONT-STYLE: normal; FONT-FAMILY: "??"; TEXT-DECORATION: underline
}
